.title {
  text-align: center;
  box-sizing: border-box;
  gap: 1rem;
  width: 100%;
  padding: 10px;
  background-color: #e8e7e7f8;
  color: hsl(220, 13%, 40%);
  text-transform: uppercase;
  border-style: groove;
  border-color: black;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
